.participantes{
    text-align: center;
    padding: 24px;
    padding-bottom: 6rem;
}
.participantes h3{
    font-size: .9375rem;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 6px;
    font-family:"GandhiSansRegular";
}
.participantes .colaboradores{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}