.participantes{
    text-align: center;
    padding: 24px;
    padding-bottom: 6rem;
    
}
.participantes h3{
    font-size: .9375rem;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 6px;
    font-family:"GandhiSansRegular";
}
.participantes .colaboradores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.btn-sorte{
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    padding: 0 40px;
    column-gap: 7rem;
    justify-content: flex-start;
}