.campo-texto {
    margin: 12px 0;
}

.campo-texto label {
    display: block;
    margin-bottom: 6px;
    font-size: .9375rem;
}

.campo-texto input {
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: .9375rem;
    padding: 6px;
    box-sizing: border-box;
}
.input-error {
    border: 1px solid red; 
  }
.error-message {
    color: red;
    font-size: 12px;
  }