.cabecalho {
  display: grid;
  justify-content: center;
}

.cabecalho h1 {
  color: white;
}

.hearders {
  display: flex;
  justify-content: center;
}
.caixa {
  min-width: 25rem;
  background-color: #f2f2f2;
  padding: 12px 24px;
  border-radius: 20px;
  box-shadow: 8px 8px 16px rgb(0 0 0 / 8%);
}
