.banner {
    background-color: #2A3F5C;
    text-align:center;
    padding: 20px 20px 1px 20px;
}

.banner img {
    display: grid;
    max-width: 20%;
}
.banner h1 {
    color: white;
    font-family:system-ui;
}